:link:hover{
    /* background-color:gold; */
    
    transition: 0.5s;
    opacity: 0.5;
}

.logo{
    background-position:center;
    text-align:center;
    
}
.background{
    background-image: none;
    background-size: cover;


}

form{
    background-color:#000000; 
    width:400px;
    height: 300px;
    padding:50px 50px 30px 30px;
    border-radius:2%;
    border:solid;
    border-color: rgb(255, 255, 255);
    margin-top: 15px;
    
    
}

label{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

body{
    
    font-family:Arial;
    background-color: rgb(0, 0, 0);
}

input{
    font-size: 26px;
    text-align: left;
}

.formulario{
    align-items: center;
    flex-direction:column;
    display: flex;
}

p{
    text-align: center;
    color:white;
    font-size: 25px;
    margin-top: 30px;
}

.botao{
    text-align: center;
    
}

a{
    color:white;
}